<?xml version="1.0"?>
<launch>

    <!-- General parameters -->
    <arg name="robot_id" default="wander"/>
    <arg name="ft_type" default="virtual"/> <!-- virtual or real, IF REAL USE "ftsensor" FOR PARAMETER "ft_sensor_reference_frame" -->
    
    <!-- Assistive robot namespace -->
	<group ns="$(arg robot_id)">

        <!-- FT sensor -->
        <group if="$(eval ft_type == 'virtual')">
            <include file = "$(find hrii_utils)/launch/wrench_publisher_gui.launch">
                <arg name="wrench_topic" value="Bota_LaxOne_ft_handler/wrench"/>
                <arg name="frame_id" value="$(arg robot_id)_ft_sensor_link"/>
                <arg name="force_limit" default="50"/>
                <arg name="torque_limit" default="25"/>
            </include>
        </group>

	</group>
    

</launch>
